<template>
  <div class="dropdown">
    <div class="dropdown-content">
      <div class="dropdown-title">
        <span>Filter options</span>
        <span
          class="material-icons close-icon"
          @click="close"
        >
          close
        </span>
      </div>
      <div class="form-group">
        <span>Condition</span>
        <div class="selectdiv">
          <select v-model="selectedCondition" >
            <option
              v-for="condition in conditions"
              :value="condition"
              :key="condition.value"
            >
              {{ condition.text}}
            </option>
          </select>
        </div>
      </div>
      <div
        v-if="selectedCondition && selectedCondition.show"
        class="form-group"
      >
        <span>Value</span>
        <input
          v-model="value"
          type="text"
          class="form__input"
        >
      </div>
      <button
        class="btn"
        @click.stop="applyFilter"
      >
        Apply
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FilterMenu',
  props: {
    conditions: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      value: null,
      selectedCondition: null
    }
  },
  methods: {
    applyFilter () {
      if (!this.selectedCondition || (this.selectedCondition.show && !this.value)) {
        return
      }
      this.$emit('apply-filter', {
        condition: this.selectedCondition.value,
        value: this.value
      })
    },
    close () {
      this.$emit('close')
    }
  }
}
</script>
<style scoped>
  .dropdown {
    position: absolute;
    display: inline-block;
    border-radius: 2px;
    transition: .3s cubic-bezier(.25,.8,.5,1);
  }

  .dropdown-content {
    display: block;
    position: absolute;
    padding: 12px 16px;
    background: #f4f7fa!important;
    -webkit-box-shadow: 0 3px 9px #00000040;
    box-shadow: 0 3px 9px #00000040;
    width: 230px!important;
    z-index: 1;
    font-size: 12px;
  }
  .dropdown-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .close-icon{
    cursor: pointer;
    font-size: 14px;
  }

  .form-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 300;
  }

  .selectdiv {
    position: relative;
    float: left;
    min-width: 200px;
    outline: none;
  }

  .selectdiv:after {
    content: '<>';
    font: 15px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 7px;
    top: 7px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    position: absolute;
    pointer-events: none;
  }

  select, input[type=text] {
    font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 320px;
    height: 35px;
    float: right;
    margin: 2px 0px;
    padding: 0px 24px;
    font-size: 12px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -ms-word-break: normal;
    word-break: normal;
    outline: none;
  }
  select:invalid{
    color: gray;
  }
  option{
    color: black;
  }

  .btn {
    position: relative;
    display: inline-block;
    margin: 8px;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #2c3e50;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 30px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #2c3e50;
  }

  .btn:active {
    transform: scale(0.9);
  }

</style>
