<template>
  <ul class="page">
    <li>
      {{ meta.from }} - {{ meta.to }} of {{ meta.total }}
    </li>
    <li class="page__btn" @click.stop="previus()">
      <span class="material-icons">
        chevron_left
      </span>
    </li>
    <li>
      <template v-if="meta.last_page > 0">
        {{ activePage }} of {{ meta.last_page }}
      </template>
      <template v-else>
        --
      </template>
    </li>
    <li class="page__btn" @click.stop="next()">
      <span class="material-icons">
        chevron_right
      </span>
    </li>
  </ul>
</template>
<script>

export default {
  name: 'Pagination',
  props: {
    meta: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      activePage: 1
    }
  },
  watch: {
    activePage () {
      this.$emit('change-page', this.activePage)
    }
  },
  methods: {
    changePage (page) {
      this.activePage = page
    },
    next () {
      console.log('Next')
      if (this.activePage < this.meta.last_page) {
        this.activePage++
      }
    },
    previus () {
      if (this.activePage > 1) {
        this.activePage--
      }
    }
  }
}
</script>
<style lang="css" scoped>

ul {
  list-style-type: none;
}

.page {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 3rem;
  margin: 0.5rem;
  font-size: 13px;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
}

.page__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.page__btn {
  color: #23adade1;
}

.page__btn .active {
  color: #2d4848;
  pointer-events: initial;
}

.page__btn:hover {
  color: #23adad;
}
</style>
