<template>
  <div fluid class="container container--fluid card">
    <div>
      <h3 class="table-title">Port List</h3>
    </div>
    <div class="input-wrapper">
      <input
        v-model="search"
        type="text"
        placeholder="Search"
      >
      <span
        class="input-icon material-icons"
      >
        search
      </span>
    </div>
    <div style="overflow-x: auto;">
      <table>
        <thead>
          <td v-for="(header, i) in headers" :key="i">
            <div class="d-flex justify-center align-items-center">
              <span>{{ header.text }}</span>
                <i
                  class="material-icons icon"
                  @click.stop="showFilter(header, i)"
                >
                  filter_alt
                </i>
              <filter-menu
                v-if="headerFilter &&  header === headerFilter"
                :conditions="conditionsToList"
                @apply-filter="addFilter"
                @close="closeFilterMenu"
              />
            </div>
            <div
              v-if="filters[i]"
              class="d-flex align-items-center justify-center filter-summary"
            >
              <span>
                {{ filters[i].condition.text }} : {{ filters[i].value }}
              </span>
              <span
                class="material-icons"
                @click="clearFilter(header)"
              >
                close
              </span>
            </div>
          </td>
        </thead>
        <tbody>
          <template v-if="!loading && filteredItems().length">
            <tr
              v-for="(item, index) in filteredItems()"
              :key="index"
            >
              <td v-for="data in headers"
                :key="data.value"
              >
                {{ item[data.value] }}
              </td>
            </tr>
          </template>
          <template v-else-if="!loading && !filteredItems().length ">
            <tr>
              <td :colspan="headers.length">
               <span class="no-data">No matching records found</span>
              </td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <td :colspan="headers.length">
                <div class="d-flex justify-center">
                  <div class="loader"></div>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <div>
      <Pagination
        :meta="options"
        @change-page="changePage"
      />
    </div>
  </div>
</template>
<script>
import Pagination from './Pagination'
import FilterMenu from './FilterMenu'

export default {
  components: {
    Pagination,
    FilterMenu
  },
  data () {
    return {
      page: 1,
      search: '',
      headers: [
        {
          text: 'ID',
          align: 'start',
          sortable: false,
          value: 'id',
          type: 'number'
        },
        {
          text: 'Name',
          value: 'name',
          type: 'text'
        },
        {
          text: 'Country',
          value: 'country',
          type: 'text'
        },
        {
          text: 'Continent',
          value: 'continent',
          type: 'text'
        },
        {
          text: 'Coordinates',
          value: 'coordinates',
          type: 'text'
        }
      ],
      items: [],
      itemsCopy: [],
      loading: true,
      options: {},
      conditions: [
        {
          text: 'Contains',
          value: 'contains',
          show: true
        },
        {
          text: 'Not contains',
          value: 'not_contains',
          show: true
        },
        {
          text: 'Greater than',
          value: 'greater_than',
          show: true
        },
        {
          text: 'Smaller than',
          value: 'smaller_than',
          show: true
        },
        {
          text: 'Equal to',
          value: 'equal_to',
          show: true
        },
        {
          text: 'Blanks',
          value: 'null',
          show: false
        },
        {
          text: 'Not blanks',
          value: 'not_null',
          show: false
        }
      ],
      conditionsToList: [],
      headerFilter: {},
      filters: []
    }
  },
  watch: {
    page () {
      this.getPorts()
    },
    items () {
      this.applyFilter()
    }
  },
  mounted () {
    this.getPorts()
    this.initFilters()
  },
  methods: {
    initFilters () {
      this.headers.forEach((header, i) => { this.filters[i] = null })
    },
    changePage (page) {
      this.page = page
    },
    getPorts () {
      this.loading = true
      fetch(`http://apitest.cargofive.com/api/ports?page=${this.page}`)
        .then(resp => resp.json())
        .then(data => {
          this.items = data.data
          this.itemsCopy = data.data
          this.options = data.meta
          this.loading = false
        })
        .catch(e => {
          this.loading = false
          console.log(e)
        })
    },
    filteredItems () {
      const data = this.itemsCopy
      if (this.search === '') {
        return data
      } else {
        return data.filter((item) => {
          return this.findRowFilter(item, this.search)
        })
      }
    },
    findRowFilter (row, search) {
      let exist = false
      this.headers.forEach((header) => {
        if (row[header.value] && row[header.value].toString().toLowerCase().includes(search.toLowerCase())) {
          exist = true
        }
      })
      return exist
    },
    showFilter (header, i) {
      this.headerFilter = header
      let cond = []
      if (header.type === 'number') {
        cond = ['contains', 'not_contains', 'greater_than', 'smaller_than', 'equal_to']
      } else {
        cond = ['contains', 'not_contains', 'null', 'not_null']
      }

      this.conditionsToList = this.conditions.filter(condition => {
        return cond.includes(condition.value)
      })
    },
    addFilter (data) {
      const condition = this.conditions.find(cond => cond.value === data.condition)
      const i = this.headers.findIndex(header => header === this.headerFilter)
      const filter = {
        column: this.headerFilter.value,
        condition: condition,
        value: data.value
      }
      this.filters[i] = filter

      this.closeFilterMenu()
      this.applyFilter()
    },
    applyFilter () {
      let items = this.items.slice()
      for (let index = 0; index < this.filters.length; index++) {
        const element = this.filters[index]
        if (element) {
          items = items.filter(item => {
            if (element.condition.value === 'greater_than') {
              return item[element.column] && item[element.column] > element.value
            } else if (element.condition.value === 'smaller_than') {
              return item[element.column] && item[element.column] < element.value
            } else if (element.condition.value === 'equal_to') {
              return item[element.column] && item[element.column].toString() === element.value
            } else if (element.condition.value === 'contains') {
              return item[element.column] && item[element.column].toString().toLowerCase().includes(element.value.toLowerCase())
            } else if (element.condition.value === 'not_contains') {
              return item[element.column] && !item[element.column].toString().toLowerCase().includes(element.value.toLowerCase())
            } else if (element.condition.value === 'null') {
              return item[element.column] === '' || item[element.column] === null || item[element.column] === undefined
            } else {
              return item[element.column]
            }
          })
        }
      }
      this.itemsCopy = items
    },
    clearFilter (header) {
      const i = this.headers.findIndex(element => element === header)
      this.filters[i] = null
      this.applyFilter()
    },
    closeFilterMenu () {
      this.headerFilter = null
    }
  }
}
</script>
<style scoped>
  .card{
    background: #fff;
    padding: 2rem;
  }
  .table-title{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  table{
    width: 100%;
    background: #fff;
    border-collapse: collapse;
  }
  thead{
    text-align: center;
    font-weight: 600;
    background-color: rgb(210 227 232 / 16%);
  }
  thead td{
    background-color: inherit;
  }
  tbody {
    font-size: 14px;
  }
  tr:nth-of-type(2n) {
      background-color: rgb(210 227 232 / 16%)
  }
  td{
    padding: 1rem;
    border: none;
  }
  .input-wrapper {
    position: relative;
    width: 100%;
  }
  input[type=text] {
    width: 100%;
    font-family: inherit;
    color: #2c3e50;
    padding: 10px 15px;
    margin: 8px 0 3px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #aaa4a4;
    outline: none;
  }
  .input-icon {
    color: #8b7f7f;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
  }
  .icon{
    font-size: 18px;
    cursor: pointer;
    color: #c1c1c1;
    margin-left: 5px;
  }
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #23adade1;
    width: 50px;
    height: 50px;
    margin-block: 1rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .no-data{
    color: #999595;
  }
  .filter-summary{
    font-weight: 300;
    font-size: 10px;
  }
  .filter-summary .material-icons{
    font-size: 12px;
    color:red;
    cursor:pointer;
  }
</style>
