<template>
  <div id="app">
    <div class="nav">
      <img id="logo" src="./assets/logo.svg" alt="logo">
    </div>
    <div class="container">
      <Table/>
    </div>
  </div>
</template>

<script>
import Table from './components/Table'

export default {
  name: 'App',
  components: {
    Table
  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
}
*, :after, :before {
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #cbe0dd;
}
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media(min-width: 960px){
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1264px){
  .container {
    max-width: 1185px;
  }
}

.container--fluid {
  max-width: 100%;
}
.d-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}

#logo{
  width: 140px;
}
.nav{
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color:#031b4e
}
</style>
